*{margin: 0; padding: 0;}
.lcheader{width: 100%; height: 90px;background: #00B38B;position:relative;
	border-bottom:3px solid #fff;
	h3{text-align:center;line-height:90px;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);color:#fff;font-family:sans-serif;}
	.headimg{
		display: inline-block;
		// position: relative;
		margin: 8px 0 0 54px;
		img{
			width:70px;
			height:70px;
			border-radius: 50%;
		}
		.headupload{
			position: absolute;
			top:50%;
			left:150px;
			transform:translateY(-50%)

		}
	}
	.user{float:right;position: absolute;top:50%;transform:translateY(-50%);right:0;
		color:#000;
		h6{display:inline-block;}
		span{font-size:16px;}
		a{margin-right:50px;cursor: pointer;}
	}
	
}
.lcbody{position: fixed; top: 90px; left: 0; right: 0; bottom: 0;}
.lcbody .lcnav{position: absolute; left: 0; width: 200px; top: 0; bottom: 0;background:#797979;
	li{cursor: pointer;text-align:center;font-size:14px;padding:17px 0;
		color:#fff;
		font-family: 'Ruda', sans-serif;
		border-bottom:3px solid #fff;
		&:hover{color:#fff;}
	}
}
.lcbody .lccontainer{position: absolute; left: 200px; top: 0; right: 0; bottom: 0;overflow-y:auto;background: #fff;
	padding: 5px 30px;
	.form-inline{
		/* position: absolute;left: 30px;top: 5px; */
		display: inline-block;
		.custom-select{
			display: inline-block;
			width:175px;
			margin-right:8px;
		}
		.btn{
			background: #00B38B;
			color:#fff;
			border:0;
		}
	}
	.btn{
			background: #00B38B;
			color:#fff;
			border:0;
		}
}